<header>
    <a routerLink="/{{ translate.currentLang }}" [attr.aria-label]="('HEADER.AMT' | translate) + ('MAINNAV.HOME' | translate)"
        [tabindex]="isMobileViewport() ? '0' : '-1'">
        <div class="logo-container">
            <div class="logo"><img [src]="logoURL"
                    [alt]=" 'HEADER.AMT_ALT' | translate" /></div>
            <p class="text-weight--bold">{{ 'HEADER.AMT' | translate }}</p>
        </div>
    </a>
    <app-main-nav></app-main-nav>
    <app-language-picker class="bg-color--primary"></app-language-picker>
</header>