.container--flex-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    margin-top: 5%;
}

img {
    width: auto;
    height: 300px;
    justify-content: center;
}

.text-and-button {
    display: flex;
    flex-direction: column;
    padding: 5%;
}

.text-and-button>div {
    padding: 5% 0;
}

.container--flex---row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    margin: 3% 22%;
}

p {
    text-align: left;
}