<form class="bg-color--light form">
    <fieldset class="form__fieldset">
        <legend class="title--h1 form__legend text-color--link text-weight--black">
            {{ "INFRINGEMENT.FORM.TITLE" | translate }}
        </legend>
        <div class="form__group text-color--gray-dark">
            <label for="identity-document-type" class="form__group__label text-weight--medium">{{ "INFRINGEMENT.FORM.TYPE" | translate
                }}<span aria-label="required">*</span></label>
            <select id="identity-document-type" name="Identity-document-type" class="form__group__input">
                <option *ngFor="let identityDocumentType of documentTypes" [value]="identityDocumentType">
                    {{ identityDocumentType | translate }}
                </option>
            </select>
        </div>
        <div class="form__group text-color--gray-dark">
            <label for="identity-document-number" class="form__group__label text-weight--medium">{{ "INFRINGEMENT.FORM.NUMBER" | translate
                }}<span aria-label="required">*</span></label>
            <input type="text" id="identity-document-number" name="Identity-document-number" class="form__group__input"/>
        </div>
        <p class="form__required text-color--gray-dark text-weight--medium">
            <span aria-label="required">*</span>{{ "INFRINGEMENT.FORM.REQUIRED" | translate }}
        </p>
        <app-button class="button button--primary form__button text-weight--medium" [type]="'submit'"
            [label]="'INFRINGEMENT.FORM.SUBMIT' | translate"></app-button>
    </fieldset>
</form>