button {
    cursor: pointer;
    border: inherit;
    border-radius: inherit;
    background-color: inherit;
    color: inherit;
    font-weight: inherit;
    padding: inherit;
    font-size: inherit;
    line-height: inherit;
    width: 100%;
    height: 100%;
}