<nav class="main-nav">
    <ul class="main-nav__list">
        <li class="main-nav__item">
            <a routerLink="." class="main-nav__link">
                {{ 'MAINNAV.HOME' | translate }}
            </a>
        </li>
        <li class="main-nav__item">
            <a routerLink="." class="main-nav__link">
                {{ 'MAINNAV.SERVICES' | translate }}
            </a>
        </li>
        <li class="main-nav__item">
            <a routerLink="." class="main-nav__link">
                {{ 'MAINNAV.INFORMATION' | translate }}
            </a>
        </li>
        <li class="main-nav__item">
            <a routerLink="." class="main-nav__link">
                {{ 'MAINNAV.INS_REG' | translate }}
            </a>
        </li>
    </ul>
</nav>